@model IEnumerable<HexDemoSite.Models.OpenPosition>

<h3>Open Positions</h3>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentPosition.Role)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr @await Html.PartialAsync("PositionInfoPartial", item.DepartmentPosition)>
            <td>
                @item.DepartmentPosition.Role.Name
            </td>
            <td>
                @{
                    var routeData = new Dictionary<string, string>{ { nameof(item.Id), item.Id.ToString() } };
                    <a asp-controller="Home" asp-action="CandidateForm" asp-all-route-data="routeData" target="_blank"><button class="btn btn-success apply-btn">Apply</button></a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    $(document).ready( function () {
        $('.apply-btn').click((evt) => {
            evt.stopPropagation();
        });
    });
</script>