@model IEnumerable<OpenPosition>

<div class="row">
    <div class="col">
        <h3>Approval Queue</h3>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Role
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @await Html.PartialAsync("PositionInfoPartial", item.DepartmentPosition)
                    </td>
                    <td>
                        <button class="btn btn-success leader-func" data-id="@item.Id" data-action="approve">Approve</button>
                    </td>
                    <td>
                        <button class="btn btn-secondary leader-func" data-id="@item.Id" data-action="decline">Decline</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready( function () {
        $('.leader-func').click((evt) => {
            let id = $(evt.currentTarget).data('id');
            let action = $(evt.currentTarget).data('action');
            if (typeof(action) === 'undefined') {
                return;
            }
            
            if (action !== "approve" && action !== "decline") {
                openRoleModal(id, action, evt.currentTarget);
                return;
            }
            
            let url = action === 'approve' ?
                '@Url.Action("LeadershipApprove", "Home")/' :
                '@Url.Action("LeadershipReject", "Home")/';
            
            $.ajax({
                url: url + id,
                type: 'POST',
                success: function (data) {
                    document.location.reload();
                },
                failure: function (data) {
                    alert(data);
                } 
            });
        });
      
    });
</script>

